@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}

body{
	position:relative;
	font-family: 'Lexend Deca', sans-serif;
	background-color:#F0EFEB;
	height: 100%;
	max-width: 100%;
}
.carrusel{
    display: flex;
    gap: 10px;
    justify-content: center;
    scroll-behavior: smooth;
    
}
.carrusel ul {
    list-style: none;
    margin:0px;
    padding: 0px;
    max-width: 510px;
    scroll-behavior: auto;
}
.carrusel-fotos img{
    background:#F0EFEB;
    border: 1px solid #F0EFEB; 
    width: 350px;
    height: 30px;
    object-fit: contain;
}
.carrusel-fotos{
    display: flex;
    gap:10px;
    overflow: auto;
    
}
.carrusel-menu{
    display: none;
    }
.form{
    width: 70%;
    height: 1000px;
    background-color: #A5A58D;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    
}
.form img{
    height: 500px;
    width: 500px;
}
.form p{
    color: #F0EFEB;
    font-size: 30px;
    width: 50%;
    padding-left: 120px;
    padding-top: 100px;
}
.form h4{
    padding-left: 460px;
    margin-top:-350px;
}
input{
    background-color: aqua;
}
.footer{
	color: #4E3A2F;
	background-color: #FFE5D9;
	padding: 40px;
	display: flex;	
	justify-content: space-between;
}

footer ul, h3{
	list-style: none;	
	flex-direction: column;
}

footer li{
	font-family: 'Lexend Deca', sans-serif;
	font-weight:400;
	font-size: 12px;
}

h2{
	font-family: 'Lexend Deca', sans-serif;
	font-weight:500;
	font-size: 14px;
}
h3{
    font-family: 'Lexend Deca', sans-serif;
}
h4{
    font-family: "Nanum Pen", cursive;
    font-size: 100px;
    color: #F0EFEB;
    
}
.menu-hamburgesa{
    display: flex;
    background: #F0EFEB;
    color: #4E3A2F;
    
}
.menu-hamburgesa li{
    font-family: 'Lexend Deca', sans-serif;
    padding-bottom: 3px;
    color: #4E3A2F;
}
.menu-hamburgesa ul{
    margin-top:26px;
    color: #4E3A2F;
    list-style: none;
    margin-left:-120px;
    padding-right: 70px;
    font-family: 'Lexend Deca', sans-serif;
}
.menu-hamburgesa img{
    max-height: 40px;
    max-width: 40px;
    padding-top: 100px;
}
.nosotros .tips .piel{
    display: flex;
}
@media screen and (min-width:500px) {
    .carrusel-fotos{
        overflow: hidden;
    }
    .carrusel-fotos img{
        width: 50%;
         }
    .carrusel-menu{
        display: block;
    }
    .carrusel-menu img{
        width: 50px;
        height: 40px;
}
}