@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}
@font-face {
	font-family: 'Nanum-Pen';
	src: url("Font/NANUMPENSCRIPT-REGULAR.TTF") format('truetype');
	font-weight: normal;
	font-style: normal;
}
/****************************HEADER********************************/
header{
	width: 100%;
	height: 92px;
	background-color: #FF622A;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
h1 {
	font-family: 'Lexend Deca', sans-serif;
	font-size: 1em;
	color: #F0EFEB;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 400;
	}
.logo {
	position: relative;
	right: 50%;
}
.ayuda {
	padding-right: 20pt;
	padding-left: 20pt;
}
.boton:hover{
	background-color: #A5A58D;
	color: #F0EFEB;
}

/****************************LANDING PAGE********************************/
.landing-page{
	background-image:url("Img/foto principal.png");
	height: 1000px;
	width: 100%;
	display: flex;
}
.iconos{
	justify-content: space-between;
	width: 100%;
	margin-left: 91%;
	margin-top: 50px;
}
/*.landing-page img{
	height:43px;
	width: 100%;
}*/
/***************MENÚ HAMBURGUESA**********************/
.horizontal {
margin-top: 70px;
}

.grupos{
	display: flex;
	justify-content: space-evenly;
	/*gap: 60px;*/
}

.grupos li{
	list-style: none;
}

.inbox{
	margin: 20px 70px 0px 70px;
	display: flex;
	justify-content: space-between;
	}

.h2-landing {
	font-family: "Lexend Deca";
	color: #4E3A2F;
	height: 0px;
	padding: 10px 0px 0px 10px;
	font-weight: 600;
	font-size: 1em;
}

.iconos-hamburguesa {
	display: flex;
	height: 54px;
	margin: 40px 80px;
}

.mariposa-hamburguesa {
	padding-right: 175px;
}

.sobre-nosotros-hamburguesa {
	padding-right: 215px;
}
/******************DROPDOWN BUTTON************/
/* Dropdown Button */
.dropbtn {
	background-image: url("Img/noun-menu-4817062.svg");
	padding: 20px;
	margin-left: 50px;
	margin-top: 47px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
	background-color: #F0EFEB;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	position: absolute;
	display: none;
	background-color:#F0EFEB;
	width: 840px;
	height: 477px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 31px;
	top:55px;
	left: 97px;
}

.grupos li{
	list-style: none;
}

.boton{
	color: #F0EFEB;
	background-color: #FF622A;
	border-radius: 30px;
	text-align: center;
	align-content: center;
	height: 10px;
	padding: 18px 20px;
	text-decoration: none;
	font-size: 1em;
	display: flex;
	align-items: center;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: #4E3A2F;
	/*padding: 12px 16px;*/
	text-decoration: none;
	font-family: 'Lexend Deca';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 50px;
	/*display: inline;
	margin-left: 50px;
	margin-top: 40px;
	width: 700px;*/
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd;
	text-decoration: none;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.dropdown-content li{
	list-style: none;
	font-family: 'Lexend Deca';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	color: #4E3A2F;
}
	

/****************************BODY********************************/


.nabi{
	position: absolute;
	width: 288px;
	height: 206px;
	left: 1232px;
	top: 225.05px;
	font-family: 'Nanum-Pen';
	font-style: normal;
	font-weight: 400;
	font-size: 200px;
	line-height: 230px;
	color: #FF622A;
}
.conoce:hover{
	background-color: #A5A58D;
	color: #F0EFEB;
	}

.landing-page p {
	position: absolute;
	width: 553px;
	height: 143px;
	left: 1232px;
	top: 443px;
	font-family: 'Lexend Deca';
	font-style: normal;
	font-weight: 600;
	font-size: 23px;
	line-height: 33px;
	color: #4E3A2F;
}
.landing-page h5{
	display: flex;
	position: absolute;
	width: 408px;
	height: 50px;
	left: 1290px;
	top: 586px;
	color: #F0EFEB;
	background-color: #FF622A;
	border-radius: 20px;
	font-family: 'Lexend Deca';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	text-align: center;	
	padding-top: 15px;
	padding-left: 85px;
	text-transform: uppercase;
	
	}

body{
	position:relative;
	font-family: 'Lexend Deca', sans-serif;
	background-color:#F0EFEB;
	height: 100%;
	max-width: 100%;
}
/** {
	box-sizing: border-box;
}*/
/****************************GALLERY********************************/
/* Position the image container (needed to position the left and right arrows) */
.container {
	position: relative;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
	cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	webkit-user-select: none;
	top: 1330px;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
.demo {
	opacity: 0.6;
}

.active,
.demo:hover {
	opacity: 1;
}
/****************************COLLAPSIBLE********************************/
.collapsible {
	background-color: #A5A58D;
	cursor: pointer;
	padding: 18px 18px 18px 40px;
	width: 100%;
	text-align: left;
	outline: none;
	font-family: "Lexend Deca";
	font-size: 600;
	border-top: 5px;
	border-style: solid;
	border-color: #F0EFEB;
}

.active, .collapsible:hover {
	background-color: #FF622A;
	text-decoration-style: dashed;
	}

.content {
	display: none;
	overflow: hidden;
	background-color: #F0EFEB;
	height: 370px;
}
.texto-pasos {
	display: flex;
	align-items: flex-start;
}
.recomendados {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}
h2 {
	font-family: "Lexend Deca";
	color: #4E3A2F;
	height: 220px;
	padding: 80px 0px 0px 40px;
	font-weight: 600;
	font-size: 1.5em;
}

h4 {
	font-family: "Lexend Deca";
	color: #4E3A2F;
	font-weight: 400;
	font-size: 18px;
}

p {
	font-family: "Lexend Deca";
	color: #4E3A2F;
	font-weight: 400;
	font-size: 14px;
}

h5 {
	font-family: "Lexend Deca";
	color: #FF622A;
	font-weight: 800;
	font-size: 14px;

}

.pasos-collapsible {
	font-family: "Lexend Deca";
	color: #F0EFEB;
	font-weight: 400;
	/*font-size: 1.125em;*/
}
.negrita{
	font-weight: 800;
	color: #4E3A2F;
}

p {
	font-family: "Lexend Deca";
	color: #4E3A2F;
	font-weight: 400;
	font-size: 0.938em;
	margin: 15px 0px 15px 40px;
	width: 34%;
	line-height: 1.375em;
	}

.productos p{
	font-family: "Lexend Deca";
	color: #4E3A2F;
	font-weight: 400;
	font-size: 0.938em;
	width: 40%;
	line-height: 1.375em;
}

.how-to {
	font-family: "Lexend Deca";
	color: #FF622A;
	font-weight: 800;
	/*font-size: 0.938em;*/
}
.productos {
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 700;
	color: #4E3A2F;
	font-size: 1.125em;
	left: 760px;
	top: 456px;
}

h5 {
	font-family: "Lexend Deca";
	color: #4E3A2F;
	font-weight: 600;
	font-size: 0.75em;
}
/***************FORMULARIO***********************/


.form{
	background-color: #A5A58D;
	margin-top: 20px;
	margin-bottom: 50px;
	/*display: flex;
	align-items: center;*/
	border-radius: 20px;
	width: 50%;
	height: 655px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}
.formulario{
	width: 50%;
	/*margin-top: 314px;*/
	padding-right: 50px;
}
.form img{
	height: 150px;
	width: auto;
	vertical-align: text-top;
	padding: 0px 60px 0px 30px;

}
.form p{
	color: #F0EFEB;
	font-size: 1.25em;
	width: 60%;
	padding: 0px 80px 0px 0px;
	text-align: center;
}
.form h4{
	width: 100%;
	font-family: 'Nanum-Pen';
	font-style: normal;
	font-weight: 400;
	font-size: 4.6em;
	line-height: 138px;
	color: #F0EFEB;
	margin-top: 60px;
}
.form-part1 {
	display: flex;
	align-items: flex-end;
	margin: 0px 0px 70px 40px;

}
.form-part2{
	display: flex;
	align-items: center;
	margin: 0px 20px 0px 20px;
}

.info {
	display: flex;

}
label{
	display: block;
	font-family: "Nanum-Pen", cursive;
	font-size: 30px;
	color: #FFE5D9;
	margin-bottom: 20px;
	text-decoration: underline;
	
}
input{
	background-color: #F0EFEB;
	height: 30px;;
	padding: 10px;
	width: 400px;;
	border-radius: 10px;
	border: none;

}
.Suscribirse:hover{
	background-color: #FFE5D9;
	color: #FF622A;
}
.Suscribirse{
	height: 50px;
	background-color: #FF622A;
	margin-top: 30px;
	color: white;
	border-radius: 10px;
	font-family: "Nanum-Pen", cursive;
	font-size: 30px;
	width: 420px;
}
.like {
	padding: 80px 0px 0px 40px;
	height: 250px;
}
.caritas {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	/*margin-left:50px;*/
}
.time {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-content: space-around;
	align-items: center;
	position: absolute;
	left: 800px;
	top: 180px;
}
.time2{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-content: space-around;
	align-items: center;
	position: absolute;
	left: 800px;
	top: 230px;
}
.reloj {
	padding-right: 5px;
}
.mas {
	padding-right: 5px;
}
.cinco-pasos-semanal {
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 500;
	color: #FF622A;
	font-size: 1.125em;
	text-transform: uppercase;
	position: absolute;
	left: 800px;
	top: 280px;
}
/****************************FOOTER********************************/
.footer{
	color: #4E3A2F;
	background-color: #FFE5D9;
	padding: 40px;
	display: flex;
	justify-content: space-between;	
	}

footer ul, h3{
	list-style: none;	
	flex-direction: column;
}

footer li{
	font-family: 'Lexend Deca', sans-serif;
	font-weight:400;
	font-size: 0.75em;
	display: flex;
	justify-content: space-between;
}
h6 {
	font-family: 'Lexend Deca', sans-serif;
	font-size: 0.75em;
	font-weight: 500;
	text-decoration: underline;
}


.redes {
	display: flex;
	flex-direction: row;
	padding: 0 50px 0px 0px;
}
.carrusel{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
	flex-direction: column;
	align-content: space-around;
	align-items: center;
}
.carrusel h2 {
	background-color: #FF622A;
	padding: 0px;
	height: 55px;
	width: 100%;
	text-align: center;
	padding-top: 15px;
	font-weight: 700;
	font-size: 28px;
	text-transform: uppercase;
	color: #F0EFEB;
	margin-bottom: 60px;
}
.carrusel ul {
    list-style: none;
    margin:0px;
    padding: 0px;
    max-width: 1338px;
    max-height: 800px;
}
.carrusel-fotos img{
    background:#d8ded6;
    border: 1px solid #d8ded6; 
    width: 1302px;
    height: 500;
    object-fit: contain;
}
.carrusel-fotos{
    display: flex;
    gap:10px;
    overflow: scroll;
}
.carrusel h5{
	display: flex;
	color: #F0EFEB;
	background-color: #FF622A;
	border-radius: 20px;
	font-family: 'Lexend Deca';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	text-align: center;	
	padding-top: 13px;
	padding-left: 33px;
	padding-right: 33px;
	padding-bottom: 10px;
	text-transform: uppercase;

	}
.carrusel h5:hover{
	background-color: #A5A58D;
	color: #F0EFEB;
}
.columns {
	display: flex;
	justify-content: space-between;
	width: 500px;
}


h3{
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 500;
	color: #4E3A2F;
	font-size: 1.125em;
}

.menu-hamburgesa{
	display: flex;
	background: #F0EFEB;
	color: #4E3A2F;
}
.menu-hamburgesa li{
	font-family: 'Lexend Deca', sans-serif;
	padding-bottom: 3px;
	color: #4E3A2F;
}
.menu-hamburgesa ul{
	margin-top:26px;
	color: #4E3A2F;
	list-style: none;
	margin-left:-120px;
	padding-right: 70px;
	font-family: 'Lexend Deca', sans-serif;
}
.menu-hamburgesa img{
	max-height: 40px;
	max-width: 40px;
	padding-top: 100px;
}
.nosotros .tips .piel{
	display: flex;
}