@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}
.landing-page{
	background-image:url("Img/foto principal.png");
	height: 1000px;
	width: 100%;
	display: flex;
}
.iconos{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-left: 97px;
	margin-right: 97px;
	margin-top: 85px;
	
}
.landing-page img{
	height:43px;
	width: 44px;
}


/****************************HEADER********************************/
header{
	width: 100%;
	height: 92px;
	background-color: #FF622A;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
h1 {
	font-family: 'Lexend Deca', sans-serif;
	font-size: 1em;
	color: #F0EFEB;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 400;
	}
.logo {
	position: relative;
	right: 52%;
}
.ayuda {
	padding: 20px;
}
/****************************BODY********************************/

.nabi{
	position: absolute;
	width: 288px;
	height: 206px;
	left: 1100px;
	top: 225.05px;
	font-family: 'Nanum Pen';
	font-style: normal;
	font-weight: 400;
	font-size: 200px;
	line-height: 230px;
	color: #FF622A;
}
.landing-page p {
	position: absolute;
	width: 553px;
	height: 143px;
	left: 1100px;
	top: 443px;
	font-family: 'Lexend Deca';
	font-style: normal;
	font-weight: 600;
	font-size: 23px;
	line-height: 33px;
	color: #4E3A2F;
}
.landing-page h5{
	display: flex;
	position: absolute;
	width: 471px;
	height: 97px;
	left: 1100px;
	top: 586px;
	color: #F0EFEB;
	background-color: #FF622A;
	border-radius: 20px;
	font-family: 'Lexend Deca';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	text-align: center;	
	padding-top: 35px;
	padding-left: 85px;
	text-transform: uppercase;
	
	}

body{
	position:relative;
	font-family: 'Lexend Deca', sans-serif;
	background-color:#F0EFEB;
	height: 100%;
	max-width: 100%;
}
/****************************COLLAPSIBLE********************************/
.collapsible {
	font-color: #4E3A2F;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-family: "Lexend Deca";
	font-size: 600;
}

.active, .collapsible:hover {
	background-color: #FF622A;
	text-decoration-style: dashed;
	}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}

h2 {
	font-family: "Lexend Deca";
	font-color: #4E3A2F;
	font-weight: 600;
	font-size: 20px;
}

h4 {
	font-family: "Lexend Deca";
	font-color: #4E3A2F;
	font-weight: 400;
	font-size: 18px;
}

p {
	font-family: "Lexend Deca";
	font-color: #4E3A2F;
	font-weight: 400;
	font-size: 14px;
}

h5 {
	font-family: "Lexend Deca";
	font-color: #FF622A;
	font-weight: 800;
	font-size: 14px;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}



.form{
	background-color: #A5A58D;
	display: flex;
	margin:200px;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 250px;
	padding-bottom: 300px;
	align-content: center;
	border-radius: 20px;
	width: 1500px;
	height: 1000px;

}
.formulario{
	margin-top: 20px;
	margin-right: 10px;
	width: 50%;
}
.form img{
	height: 450px;
	width: 450px;
	margin-bottom: 80px;
	margin-top: 500px;
}
.form p{
	color: #F0EFEB;
	font-size: 30px;
	width: 50%;
	padding-left: 120px;
	padding-top: 100px;
	text-align: center;
}
.form h4{
	padding-left: 460px;
	margin-top:-350px;
	width: 100%;
	font-family: 'Nanum Pen';
	font-style: normal;
	font-weight: 400;
	font-size: 120px;
	line-height: 138px;
	color: #F0EFEB;
}
label{
	display: block;
	font-family: "Nanum Pen", cursive;
	font-size: 30px;
	color: #FFE5D9;
	margin-bottom: 10px;
	text-decoration: underline;
}
input{
	background-color: #F0EFEB;
	height: 30px;;
	padding-bottom: 10px;
	width: 400px;;
	border-radius: 10px;

}
.Suscribirse{
	height: 30px;
	width: 50%;
	background-color: #FF622A;
	margin-top: 50px;
	color: white;
	border-radius: 10px;
}
.caritas {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	margin-left:50px;
}
/****************************FOOTER********************************/
.footer{
	color: #4E3A2F;
	background-color: #FFE5D9;
	padding: 40px;
	display: flex;	
	justify-content: space-between;
}

footer ul, h3{
	list-style: none;	
	flex-direction: column;
}

footer li{
	font-family: 'Lexend Deca', sans-serif;
	font-weight:400;
	font-size: 12px;
}

h2{
	font-family: 'Lexend Deca', sans-serif;
	font-weight:500;
	font-size: 14px;
}
h3{
	font-family: 'Lexend Deca', sans-serif;
}
h4{
	font-family: "Nanum Pen", cursive;
	font-size: 100px;
	color: #F0EFEB;
}
.menu-hamburgesa{
	display: flex;
	background: #F0EFEB;
	color: #4E3A2F;
}
.menu-hamburgesa li{
	font-family: 'Lexend Deca', sans-serif;
	padding-bottom: 3px;
	color: #4E3A2F;
}
.menu-hamburgesa ul{
	margin-top:26px;
	color: #4E3A2F;
	list-style: none;
	margin-left:-120px;
	padding-right: 70px;
	font-family: 'Lexend Deca', sans-serif;
}
.menu-hamburgesa img{
	max-height: 40px;
	max-width: 40px;
	padding-top: 100px;
}
.nosotros .tips .piel{
	display: flex;
}