@charset "utf-8";
/* CSS Document */


.collapsible {
 font-color: #4E3A2F;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
	font-family: "Lexend Deca";
 font-size: 600;
}

.active, .collapsible:hover {
  background-color: #FF622A;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

h2 {
	font-family: "Lexend Deca";
	font-color: #4E3A2F;
	font-weight: 600;
	font-size: 20px;
}

h4 {
	font-family: "Lexend Deca";
	font-color: #4E3A2F;
	font-weight: 400;
	font-size: 18px;
}

p {
	font-family: "Lexend Deca";
	font-color: #4E3A2F;
	font-weight: 400;
	font-size: 14px;
}



